body, h1, h2, h3, p, ul, li, a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #8e9aaf;
  background-color: #f9dcc4;
  line-height: 1.6;
}

header {
    font-family: 'Balsamiq Sans', sans-serif;
  background-color: #f3a683;
  color: white;
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 2.2rem;
  font-weight: bold;
}

nav ul {
  display: flex;
  gap: 15px;
}

nav ul li a {
  color: white;
  font-weight: bold;
  font-size: 0.9rem;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #ffa69e;
}

main {
  font-family: 'PT Sans', sans-serif;
  padding: 20px 10%;
  text-align: center;
}

section, article {
  margin-bottom: 40px;
}

img {
    border-radius: 50px;
    width: 50%;
  }
  

section h2, article h3 {
  color: #f3a683;
  margin-bottom: 10px;
}

section p, article p {
  margin-bottom: 20px;
  color: #8e9aaf; 
}

section {
    text-align: center; 
  }
  
a {
  display: inline-block;
  align-items: center;
  padding: 10px 20px;
  background-color: #f3a683;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.3s ease;
}

a:hover {
    color: #ffa69e;
  background-color: #ffff;
}

footer {
  background-color: #8e9aaf; 
  color: white;
  padding: 20px 10%;
  text-align: center;
}

/* Responsive Design */
@media (max-width: 768px) {
  header, main, footer {
    padding: 10px 5%;
  }

  nav ul {
    flex-direction: column;
    gap: 10px;
  }
}
